<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExportFileName</key>
	<string>reference.html</string>
	<key>HistoryMax</key>
	<integer>20</integer>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>CSSClassNames</key>
	<array>
		<string>uncompiled</string>
		<string>normal</string>
		<string>langKeyword</string>
		<string>appKeyword</string>
		<string>comment</string>
		<string>literal</string>
		<string>userDefine</string>
		<string>stringLiteral</string>
		<string>commandName</string>
		<string>parameterName</string>
		<string>className</string>
		<string>propertyName</string>
		<string>enumeratedValues</string>
		<string>additionCommandName</string>
		<string>additionParameterName</string>
		<string>additionClass</string>
		<string>additionProperty</string>
		<string>additionEnumeratedValue</string>
	</array>
</dict>
</plist>
