a:link { color: #6666ff  }
a:visited { color: #999966  }
a:active { color: #f66  }
body {
	color: black;
	font-size: 11px; 
	font-family: "Lucida Grande", Arial, sans-serif; 
	background-color: white; margin: 0; padding: 28px 0 8px; }
h1 {
	font-weight: bold;
	font-size: 150%; 
	margin-top: 0; margin-bottom: 1.5ex; padding-top: 0; padding-bottom: 0.5ex;
	border-bottom: thick solid gray; }
h2 {
	font-weight: bold;
	font-size: 130%;
	background-color: #f5f5f5;
	margin-right: 0;
	margin-left: 0;
	padding-top: 1ex;
	padding-bottom: 1ex;
	padding-left: 1ex;
	border-style: none none none solid;
	border-width: medium medium medium 8pt;
	border-color: gray  }
h3 {
	font-weight: bold;
	font-size: 110%  ; }
h4 {margin-left: 1em }
p    {	line-height: 160%;
	margin-right: 1.5em;
	margin-left: 1.5em }
pre  {	margin-right: 4ex;
	margin-left: 4ex }
li  {
	line-height: 150% ;
	margin-top: 0.5em;
	margin-right: 1.5em;
	margin-bottom: 0.5em; }
#navi-bar { font-size: 10px; background-image: url(navgrad-normal.png); 
			position: fixed; top: 0; left: 0; min-height: 25px; margin: 0; padding: 0; z-index: 1; 
			min-width: 100%; white-space: nowrap; }
#navi-bar .left-contents { margin: 0 60px 0 0; padding: 0; }
#navi-bar select { margin-left: 15px; }
#contents { position: relative; margin: 5px 10px 10px; padding: 0; min-width: 450px; }
.edit-script-link {
	line-height: 25px;
	float: right;
	margin: 0 1em 0 0;
	padding: 0; }
.to-root {
	line-height: 25px;
	float: left;
	margin: 0 0 0 1em;
	padding: 0; }
.navibar-prev { background-image: url(navi-previous16.gif); background-repeat: no-repeat; background-position: left top; margin: 0 0.5em 0 1em; padding: 0 0 2px 18px; }
.navibar-next { background-image: url(navi-next16.gif); background-repeat: no-repeat; background-position: right top; margin-right: 0; margin-left: 0.5em; padding: 0 18px 2px 0; }
.prev-next-item { text-align: right; margin: 0 10px 0 0; padding: 0; }
.prev-next-item a, .prev-next-item a:visited { color: gray; text-decoration: none; }
.prev-next-item a:hover { color: black; text-decoration: none; }

