.sourceCode  {	font-family: sans-serif;
	margin-right: 2em;
	margin-left: 2em;
	padding: 1ex;
	border: solid 2px silver }
.elementTitle { 
	font-weight: bold;
	font-size: 200%;
	font-family: Times, serif;
	margin-bottom: 1.5ex;
	padding-bottom: 0.5ex;
	border-bottom: thin solid black  }
.subHeading {
	font-weight: bold;
	font-size: 120%  }
#smartheader {
	background-color: #f2f2f2;
	position: fixed;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-left: 10px;
	border-bottom: 1px solid #bfbfbf;
	top: 0;
	left: 0;
	width: 100%  ; }
body {
	color: black;
	font-size: 12px;
	font-family: Osaka, "Lucida Grande", Arial, sans-serif;
	background-color: white   ;
	padding-top: 24px; }
